/* Modo claro por defecto */
.app {
    background-color: white;
    color: black;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

/* Modo oscuro */
.app.dark-mode {
    background-color: #18181b !important;
    color: #f3f4f6 !important;
}

.app.dark-mode .product-list {
    background-color: #27272a !important;
    color: #f3f4f6 !important;
}

.app.dark-mode .product-list .border {
    background-color: #27272a !important;
    color: #f3f4f6 !important;
    border: #4b5563 1px solid !important;
}

.app.dark-mode .product-title {
    color: rgb(195, 153, 99) !important;
}

.app.dark-mode .product-price {
    color: azure !important;
}

.app.dark-mode .stats-panel {
    background-color: #23272f !important;
    color: #f3f4f6 !important;
}
